th,td{
    text-align: center;
    vertical-align: middle;
}

body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #e3e8f1;
    overflow-x:hidden;
    color: #ababab; }
    
/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

/* Estilos para el control deslizante de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #f90a23;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

/* Estilos para el track de la barra de desplazamiento */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
