{% extends "./base.html" %}

{% block title %} Gestion de  Ventas {% endblock %}


{% block body %}

<div class= "row">
    <div class="col-md-4 offset-md-4">
        <h2> Edicion de Ventas </h2>    
        <div class="card">
            <div class="card-body">
                <form method="POST" action="/editarVenta/{{ ventas.idVenta }}/"> {% csrf_token %}
                    <div class="form-group">

                        <div class="form-group">
                            <h6>Cantidad Productos</h6>
                            <input type="text" id="txtCantidad" name="txtCantidad" class="form-control" value="{{ventas.cantidadProductos}}" placeholder="Cantidad Productos" minlength="1" maxlength="58"  required>
                        </div>
                    </div>
    
                     
    
                    <h6>Id Empleado</h6>
                    <select id="txtEmpleado" name="txtEmpleado" class="form-control" required>
                        {% for emp in empleado %}
                            <option value="{{ emp.idEmpleado }}" {% if ventas.idEmpleado.idDocumentoEmp.primernombre == emp.idDocumentoEmp.primernombre %} selected {% endif %}>
                                {{ emp.idDocumentoEmp.primernombre }}
                            </option>
                        {% endfor %}
                    </select>
                    
    
                    <h6>Id Cliente</h6>
                    <select id="txtClientela" name="txtClientela" class="form-control" required>
                        {% for cliente in cliente %}
                            <option value="{{ cliente.idcliente }}" {% if ventas.idCliente.iddocumento == cliente.iddocumento %} selected {% endif %}>
                                {{ cliente.iddocumento }}
                            </option>
                        {% endfor %}
                    </select>
                    
                       
                        
                    <div class="form-group">
                        <label for="nombreproducto">Nombre producto</label>
                        <select id="txtProducto" name="txtProducto" class="form-control" required>
                            {% for inventario_item in inventario %}
                                <option value="{{ inventario_item.idinventario }}">{{ inventario_item.idproductoinv.nombreproducto }} cantidad productos: {{ inventario_item.cantidadproductos }}, Precio producto: {{ inventario_item.idproductoinv.precioventa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                        
                        <div class="form-group">
                            <h6>Precio Producto</h6>
                            <input type="text" id="txtPrecio" name="txtPrecio" class="form-control" value="{{ventas.precioProducto}}" placeholder="Precio Producto" minlength="1" maxlength="58" required>
                        </div>
                        <div class="form-group">
                            <h6>Descuento venta</h6>
                            <input type="text" id="txtDescuento" name="txtDescuento" class="form-control" value="{{ventas.descuentoVenta}}" placeholder="Descuento venta" minlength="1" maxlength="58" required>
                        </div>
    
                    <div class="form-group">
                        <h6>Total venta</h6>
                        <input type="text" id="txtVenta" name="txtVenta" class="form-control" value="{{ventas.TotalVenta}}" placeholder="Total Venta" minlength="3" maxlength="58" required>
                    </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>  
                 </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}