{% extends "base.html" %}
{% block title %} Editar Inventario {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Editar Inventario</h2>
         <div class="card">
            <div class="card-body">
                <form method="POST" action="/editarInventario/{{ inventarios.idinventario }}/"> {% csrf_token %}

                    <div class="form-group">
                        <label for="txtfechainventario">Fecha Inventario</label>
                        <input type="date" id="txtfechainventario" name="txtfechainventario" class="form-control" value="{{ inventarios.fechainventario|date:'Y-m-d' }}" placeholder="Fecha de Inventario" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="txtcantidadproductos"># Prod.</label>
                        <input type="text" id="txtcantidadproductos" name="txtcantidadproductos"  class="form-control" value="{{inventarios.cantidadproductos}}" placeholder="Cantidad" 
                            min="1" required>
                    </div>

                    <div class="form-group">
                        <label for="txtnombreproducto">Producto</label>
                        <select id="txtnombreproducto" name="txtnombreproducto" class="form-control" required>
                            <option value="{{ inventarios.idproductoinv }}">{{ inventarios.idproductoinv.nombreproducto }}</option>
                            {% for producto in productos %}
                                {% if producto.id != inventarios.idproductoinv %}
                                    <option value="{{ producto.id }}">{{ producto.nombreproducto }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>


                    
                    <div class="form-group">
                        <label for="txtprecioventa">Precio Venta</label>
                        <input type="text" id="txtprecioventa" name="txtprecioventa" class="form-control" value="{{inventarios.idproductoinv.precioventa}}" placeholder="Precio Venta" 
                            min="1000" required>
                    </div>
                    <div class="form-group">
                        <label for="txtdescripcionproducto">Descripcion</label>
                        <input type="text" id="txtdescripcionproducto" name="txtdescripcionproducto" class="form-control" value="{{inventarios.idproductoinv.descripcionproducto}}" placeholder="Descripcion" 
                            minlength="4" maxlength="50" required>
                    </div>


                    <div class="form-group">
                        <label for="txtcategoriaproducto">Categoría de producto</label>
                        <select id="txtcategoriaproducto" name="txtcategoriaproducto" class="form-control" required>
                            <option value="{{ inventarios.idproductoinv.idcategoriaproducto }}">{{ inventarios.idproductoinv.idcategoriaproducto.categoriaproducto }}</option>
                            {% for cate in categoriaproductos %}
                                {% if cate.idcategoriaproducto != inventarios.idproductoinv.idcategoriaproducto %}
                                    <option value="{{ cate.id }}">{{ cate.categoriaproducto }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    


                    


                    <div class="form-group">
                        <label for="txttalla">Talla</label>
                        <select id="txttalla" name="txttalla" class="form-control" required>
                            <option value="{{inventarios.idproductoinv.idtalla.talla}}">{{inventarios.idproductoinv.idtalla.talla}} </option>
                            {% for tallas in talla %}
                            <option value="{{ tallas.talla }}">{{ tallas.talla }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="txttipomovimiento">Tipo Movimiento</label>
                        <select id="txttipomovimiento" name="txttipomovimiento" class="form-control" required>
                            {% for tipos in tipo %}
                                <option value="{{ tipos.tipomovimiento }}" {% if tipos.tipomovimiento == inventarios.idtipomovimientoinv.tipomovimiento %} selected {% endif %}>{{ tipos.tipomovimiento }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    
                    <div class="form-group">
                        <label for="txtubicacioninventario">Nombre ubicacionesinventario producto</label>
                        <select id="txtubicacioninventario" name="txtubicacioninventario" class="form-control" required>
                            {% for ubi in ubicacionesinventario %}
                                <option value="{{ ubi.ubicacioninventario }}" {% if ubi.ubicacioninventario == inventarios.idubicacioninventarioinv.ubicacioninventario %} selected {% endif %}>{{ ubi.ubicacioninventario }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    

                    
                    <div class="form-group">
                        <label for="txtidempleado">Empleado usuario</label>
                        <select id="txtidempleado" name="txtidempleado" class="form-control" required>
                            {% for empleado in empleados %}
                                <option value="{{ empleado.idEmpleado }}" {% if empleado.idEmpleado == inventarios.idEmpleado.idEmpleado %} selected {% endif %}>{{ empleado.idDocumentoEmp.primernombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-whith">Guardar</button>
                    </div>
                   

    </div>


</div>

{% endblock %}