{% extends "./base.html" %}

{% block title %} Fidelizar de Cliente {% endblock %}


{% block body %}



<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        
        <h2> Crear  Cliente </h2>  
       
        <div class="card">
            <div class="card-body">
                <form action="/registrarCliente/" method="POST">  {% csrf_token %}
                    <div class="form-group">

                       

                    

                        
                        <h6>Tipo comercio</h6>
                        <select id="txtComercio" name="txtComercio" class="form-control" required>
                            
                            <option value="">Seleccione tipo comercio</option>
                            {% for comercio in comercio %}
                                <option value="{{ comercio.tipocomercio }}">{{ comercio.tipocomercio }}</option>
                            {% endfor %}
                        </select>


                        <h6>Tipo Cliente</h6>
                        <select id="txtTipo" name="txtTipo" class="form-control" required>
                            
                            <option value="">Seleccione tipo cliente</option>
                            {% for tipocliente in tipocliente %}
                                <option value="{{ tipocliente.tipocliente }}">{{ tipocliente.tipocliente }}</option>
                            {% endfor %}
                        </select>

                    
                    <div class="form-group">
                        <h6>Cupos de Credito</h6>
                        <input type="text" id="txtCupo" name="txtCupo" class="form-control" placeholder="Cupos de credito" minlength="1" maxlength="58"  required>
                    </div>
                    <div class="form-group">
                        <label for="txtdocumento">Documento Identidad</label>
                        <input type="text" id="txtdocumento" name="txtdocumento" class="form-control" placeholder="Numero Documento Identidad" 
                        pattern=".{5,12}" title="El documento debe tener entre 5 y 12 caracteres." minlength="5" maxlength="12" required>
                    </div>
                    <div class="form-group">
                        <label for="txtprimernombre">Primer Nombre</label>
                        <input type="text" id="txtprimernombre" name="txtprimernombre" class="form-control" placeholder="Primer Nombre" 
                            minlength="3" maxlength="25" required>
                    </div>
                    <div class="form-group">
                        <label for="txtsegundonombre">Segundo Nombre</label>
                        <input type="text" id="txtsegundonombre" name="txtsegundonombre" class="form-control" placeholder="Segundo Nombre" 
                            minlength="3" maxlength="25">
                    </div>
                    <div class="form-group">
                        <label for="txtprimerapellido">Primer Apellido</label>
                        <input type="text" id="txtprimerapellido" name="txtprimerapellido" class="form-control" placeholder="Primer Apellido" 
                            minlength="3" maxlength="25" required>
                    </div>
                    <div class="form-group">
                        <label for="txtsegundoapellido">Segundo Apellido</label>
                        <input type="text" id="txtsegundoapellido" name="txtsegundoapellido" class="form-control" placeholder="Segundo Apellido" 
                            minlength="3" maxlength="25">
                    </div>
                    <div class="form-group">
                        <label for="txttelefono">Telefono</label>
                        <input type="text" id="txttelefono" name="txttelefono" class="form-control" placeholder="Telefono de Contacto" 
                            pattern="[0-9]{8,12}" title="Ingrese un número de teléfono válido (entre 7 y 10 dígitos)."
                            minlength="7" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <label for="txtcorreo">Correo Electronico</label>
                        <input type="email" id="txtcorreo" name="txtcorreo" class="form-control" placeholder="Correo Electronico" 
                            minlength="7" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="txtciudad">Ciudad</label>
                        <input type="text" id="txtciudad" name="txtciudad" class="form-control" placeholder="Ciudad" 
                            minlength="4" maxlength="25" required>
                    </div>
                    <div class="form-group">
                        <label for="txtdireccion">Direccion</label>
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Direccion Residencia" 
                            minlength="8" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="txtbarrio">Barrio</label>
                        <input type="text" id="txtbarrio" name="txtbarrio" class="form-control" placeholder="Barrio" 
                            minlength="4" maxlength="25" required>
                    </div>
                    

                    



                        <h6>Genero</h6>
                            <select id="txtgenero" name="txtgenero" class="form-control" required>
                                
                                <option value="">Seleccione un Genero</option>
                                {% for genero in genero %}
                                    <option value="{{ genero.genero }}">{{ genero.genero }}</option>
                                {% endfor %}
                            </select>


            

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div> 
                        
                        
</form>

            </div>
            </div>
        </div>
    </div>


    

    <div class="col-md-8">
        <h1> Listado de clientes </h1>       <a href="{% url 'exportar_clientes' %}" class="btn btn-primary">Exportar a XLS</a> 
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                <th>#</th>
                <th>id cliente</th>
                <th>Cupo Credito</th>
                <th>Documento cliente</th>
                <th>Tipo Comercio</th>
                <th>primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th colspan="2">Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in cliente%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{cliente.idcliente}}</td>
                    <td>{{cliente.cupocredito}}</td>
                    <td>{{cliente.iddocumento}}</td>
                    <td>{{cliente.idtipocomercio}}</td>
                    <td>{{cliente.iddocumento.primernombre}}</td>
                    <td>{{cliente.iddocumento.segundonombre}}</td>
                    <td>{{cliente.iddocumento.primerapellido}}</td>
                    <td>{{cliente.iddocumento.idcontacto.correo}}</td>
                    <td>{{cliente.iddocumento.idcontacto.telefono}}</td>
                    <td><a href="/editarCliente/{{v.idcliente}}" class="btn btn-info">Editar</a></td>
                    <td><a href="/eliminarCliente/{{v.idcliente}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>


                 
                   
                    
                </tr>    
            {% endfor%}
            </tbody>
    </table>
</div>
</div>
</div>


</div>
</div>
{% endblock %}